*{
  box-sizing: border-box;
  color:white;
}

.navbar li a {
  color: white;

}
/*CAROUSEL*/

.carousel-inner {
  max-height: 600px;
  width:100%;
  top: 0;

}

.icon-bar {
  background-color: white;
}

.black{
  background-color: black;

}

table{
  display: inline-block;
}
td{
  border-top: none !important;
}

th {
  border-top: none !important;
}

.now-playing{
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10vh;
  font-size: 5em;


}

#now-playing{
  background: url(img/now-showing-bk.jpg);
min-height: 500px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
#now-playing ul{
  display:block;
  width: 300px;
  float:right;
  text-align: center !important;
}


.info{
  text-decoration: none;
  color:white;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Droid Sans', sans-serif;
  font-weight:500;
  font-size: 1em;
  text-align: center !important;
}

.info a{
  color:white;
}

.info :hover{
  color:rgb(111, 4, 33);
}


.times{
  display: inline-block;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color:white;
  border-color: white;
  border-style: solid;
  border-width: .3em;
  border-radius: 45px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: 1em;


}

.poster{
  max-height: 375px;
  -webkit-box-shadow: 61px 54px 283px -79px rgba(124,124,125,1);
  -moz-box-shadow: 61px 54px 283px -79px rgba(124,124,125,1);
  box-shadow: 61px 54px 283px -79px rgba(124,124,125,1);
  display: inline-block !important;
  margin: 1em;
}

.showing{

  float:left !important;
  display: inline-block;
text-align: center;
  font-family: 'Droid Sans', sans-serif;
}

.showing h2{
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color:white;
  font-size: 3em;
  display: inline-block;
  /*padding-left:  2em;*/
}

/*CALENDAR*/

.schedule{
  background-color: black;
  width: 100%;
}

.day {
  width: 14.2857143%;
  float: left;
  padding: .5em;
}

.day-name {
  font-size: 2em;
  text-transform: uppercase;
  color:rgb(215, 65, 78);
  margin: 0;
  margin-bottom: -.1em;
}

.day-date {
  margin: 0;
  margin-bottom: 1em;
  font-size: .8em;
  color: #666;
}

.day-item {
  background: #eee;
  padding: .5em;
  margin-bottom: 1em;
  font-size: .8em;
  height: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day-item-title,
.day-item-time,
.day-item-description {
  margin: 0;
}

.day-item-title {
  color: rgb(215, 65, 78); 
}

.day-item-time {
  color: #aaa;
  font-weight: bold;
}
